apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- namespace.yaml
images:
- name: adhp/hcf-frontend
  newName: adhp/frontend
  newTag: hcf-main-437d1e9
- name: denartcc/api
  newName: adhp/api
  newTag: dev-d132e8b
patchesStrategicMerge:
- api/merge/certificate.yaml
- api/merge/ingress.yaml
